@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: #39FF14; }
body { background:#141414; color:#fff; font-family: ui-sans-serif, system-ui, -apple-system, "Inter", Segoe UI, Roboto, Helvetica, Arial, sans-serif; }
